.card {
    /*position: relative;*/
    /*top: 60px;*/
    z-index: -1;
}

li.card-li {
    list-style-type: none;
    margin: 5px;
    /* border: 1px solid #4e5166; */
    width: 65%;
    /* text-align: center; */
    /* align-items: center; */
    background: #ffd7d7;
    border-radius: 10px;
    /*position: relative;*/
    cursor: pointer;
}
ul.card-ul {
    margin: 20px 20px 10px -30px;
    display: flex;
    flex-direction: column;
    /* margin-left: -40px; */
    align-items: center;
}
.box-message {
    /* align-items: center; */
    margin: 5px 5px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    
    /* height: min-content; */
    padding: 0px 10px;
}
p.cont-message {
    margin: 20px 0px 20px 10px;
    width: 100%;
    font-size: clamp(14px, 1vw, 30px);
}
.updatedAt {
    /* position: absolute; */
    float: right;
    margin: 0 17px 0px 0px;
    font-size: 14px;
    /* position: relative; */
    /* bottom: 0px; */
    /* position: absolute; */
    /* right: 20px; */
    /* margin-bottom: -8px; */
    /* position: absolute; */
    /* right: 0px; */
    /* bottom: -8px; */
    padding-top: 25px;
}
img.image-post {
    width: 96%;
    height: 160px;
    object-fit: cover;
    /* align-items: center; */
    border-radius: 10px;
    margin: 10px 10px;
}
.cont-image-post {
    width: 100%;
    text-align: center;
}
button.btn-createPost {    
    position: fixed;
    top: 160px;
    right: 10px;
}
.btn-likeDislike {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 0 0 12px;
    min-width: 12%;
}
.postLikeCounter {
    margin: 0 0 0 24px;
}
.btn-détail {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    margin: 10px 0px 10px 20px;
}
.cont-card-like-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.card-updatedAt {
    padding-top: 0px;
    /* margin: 0 15%; */
    margin: 10px 10px 7px 0px;
    font-size: clamp(14px, 1vw, 30px);
    width: 70%;
    min-width: 35%;
    display: flex;
    justify-content: flex-end;
}
.card-postLikeCounter {
    margin: 14px 0px 7px 10px;
    font-size: clamp(14px, 1vw, 30px);
    width: 100%;
    min-width: 30%;
}
i.likes {
    font-size: clamp(14px, 0.5vw, 30px);
}


@media screen and (max-width: 500px)
{
    *{box-sizing: border-box; 
    }
    .card-updatedAt {
        padding-top: 0px;
        /* margin: 0 15%; */
        margin: 0px -35px 0px 10px;
        font-size: clamp(14px, 1vw, 30px);
        width: 100%;
        min-width: 35%;
        display: flex;
        justify-content: flex-start;
    }
    .cont-card-like-date {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        /* margin-top: 40px; */
        flex-wrap: wrap;
    }
    .card-postLikeCounter {
        margin: 0px 0px 0px 10px;
        font-size: clamp(14px, 1vw, 30px);
        width: 100%;
        min-width: 30%;
    }
    .css-i4bv87-MuiSvgIcon-root {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 1rem;
    }

} 

/* **** FORMATS TABLETTES ET LAPTOP **** */

@media screen and (min-width: 550px)
{
    *{box-sizing: border-box; 
    }
    
    
} 

/* **** FORMAT PC L et XL **** */

@media screen and (min-width: 992px)
{
}

/* **** FORMAT XXL **** */

@media screen and (min-width: 1440px)
{

}



