p .h3-update{
    color: var(--couleur-primaire);
    font-size: clamp(14px, 2vw, 30px);
    /* margin: 0; */
    /* padding-bottom: 0px; */
    margin: 0px;
}
.updatepost-cont {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.update-cont-image {
    width: 80%;
    text-align: center;
}
img.image-post-home {
    width: 96%;
    height: 400px;
    object-fit: cover;
    /* align-items: center; */
    border-radius: 10px;
    margin: 0 1%;
}
img.update-image-post {
    width: 90%;
    height: 400px;
    object-fit: cover;
    /* align-items: center; */
    border-radius: 10px;
    margin: 10px 10px;
}