*{box-sizing: border-box; 
} /* permet le dimensionnement des boîtes sur le bord externe de la bordure (intégration 
    du padding et de la bordure */

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;  
    font-family: Lato, sans-serif;
}